.container {
  position: absolute;
  left: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.board {
  margin: 100px;
  padding-left: 200px;
  width: 1500px;
  height: 750px;
  background: white;
  border: 2px black solid;
}

.line {
  stroke: black;
  position:absolute; 
   top: 100px;
  left: -89px;
  /* top: 0px;
  left: -89px; */
}
